<nav>
    <div>
        <a
          href="https://www.facebook.com/demi.vandriessche"
          class="fa fa-facebook"
        ></a>
        <a
          href="https://www.instagram.com/youngtwigster/"
          class="fa fa-instagram"
        ></a>
      </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Art gallery</a></li>
        <li><a href="/contact">Concact</a></li>
    </ul>
</nav>