p, h1, h2, h3, h4, h5, ul{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

body {
  height: 100%;
}

#container_about {
flex-direction: column;
display: flex;
justify-content: center;
}

hr {
  width: 50%;
  color: lightgray;
}

#aboutart {
    flex-direction: row;
    padding: 0% 25%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
  }
  
p {
    font-weight: 300;
    line-height: 1.7em;
    font-size: 0.900vw;
    letter-spacing: 0.1em;
    color: #383838;
    width: 73%;
  }

  h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #383838;
  }

  h2 {
    -webkit-text-stroke: 2px#383838;
    font-size: 7em;
    letter-spacing: 2px;
    text-align: center;
    padding: 50px;
    color: #f1f0f0;
    text-transform: uppercase;
  }
  
  h2 > span {
    color: #383838;
  }

h5 {
    text-align: left;
    font-size: 0.950vw;
    letter-spacing: 0.1em;
line-height: 1.7em;
    padding-bottom: 10px;
    font-weight: 600;
    color: #383838;
    vertical-align: baseline;
  }

  h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #383838;
    font-size: 0.6rem;
  }
  

  .quote {
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 30px 0;
    background-color: #f1f0f0;
  }
  
  .quote > p {
    width: 55vw;
    font-weight: 100;
    font-size: 1.1rem;
  }

/*contact form*/
#contact_section {
    padding: 5%;
    display: flex;
    height: fit-content;
    justify-content: center;
    background-color: #f1f0f0;
  }
  
  .contact_container {
    padding: 20px;
    border: 2px solid #383838;
    background-color: #f1f0f0;
}
  
.contact_content {
    display: flex;
    height: 100%;
    padding: 10%;
  }
  
  .contact_content > .left_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100% - 100px);
  }
  
  .contact_content > .right_section {

    width: 50%;

  }

  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #383838;
    color:#383838;
    font-size: 0.900vw;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .app-form-control::placeholder {
    color: #383838;
  }
  
  .app-form-control:focus {
    border-bottom-color: #f1f0f0;
  }


  
  button {
    margin: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    color: #f1f0f0;
    background: #383838;
    border: 2px solid #f1f0f0;
  }
  
  button:hover {
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    color: #383838;
    background-color: #f1f0f0;
    border-color: #383838;
  }

  /*gallery*/
 
 .parent{
   padding: 100px;
   display:flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
   align-content: stretch;
 }


  /*foto effect*/



  img {
    padding: 10px;
   height: 500px;
    transition: transform 0.35s;
    
  }
  
  
 img:hover {
    opacity: 0.55;
    transform: scale3d(1.05, 1.05, 1);
  }

  

/*navigatie*/
.fa {
    padding: 1px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  .fa:hover {
    color: #383838;
  }
  
nav {
    display: flex;
    background-color: #f1f0f0;
    padding: 0 4rem;
    height: 140px;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: #383838;
  }
  
  nav a:hover {
    text-decoration: none;
    color: white;
  }
  
  nav > ul {
    display: flex;
    list-style: none;
  }
  
  nav > ul > li {
    padding-right: 1.5rem;
    font-size: 0.902vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
  }

  .filter {    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
  }

