
<div class="filter" class="button-group">
    <button id="all" class="button is-checked" data-filter="*">Alle kunstwerken</button>
    <button class="button" data-filter=".expressionime">Expressionisme</button>
    <button class="button" data-filter=".kubisme">Kubisme</button>
    <button class="button" data-filter=".dadaïsme">Dadaïsme</button>
    <button class="button" data-filter=".francisbacon">Francis Bacon</button>
    <button class="button" data-filter=".egonschiele">Egon Schiele</button>
    <button class="button" data-filter=".georgbaselitz">Georg Baselitz</button>
    <button class="button" data-filter=".pablopicasso">Pablo Picasso</button>
    <button class="button" data-filter=".marcelduchamp">Marcel Duchamp</button>
    <button class="button" data-filter=".kunstschilder">Kunstschilder</button>
    <button class="button" data-filter=".beeldhouwkunst">Beeldhouwkunst</button>

</div>