<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
    <head>
      <%- include('../partials/head'); -%>
        <link rel="stylesheet" href="/css/app.css"/>
        <title>Home</title>
    </head>
<body>
 <%- include("../partials/navigation") -%>

  <div class="quote">
    
    <h2>
      <span>welkom bij</span><br>museum
    </h2>
  </div>

</body>
</html>